<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lok Liste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide *ngFor="let item of this.myAPI.LokList">
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-img src={{item.image_url}}></ion-img>
                </ion-thumbnail>
                <ion-label>{{item.name}}</ion-label>
                <ion-button fill="outline" slot="Start">Zurück</ion-button>
                <ion-button fill="outline" slot="end">Vor</ion-button>
              </ion-item>

              <ion-card-content>
                <ion-range min="0" max="100" step="5" (ionChange)="onSliderChanged($event, item)"
                  value="{{item.speed}}">
                  <ion-icon size="small" slot="start" name="sunny"></ion-icon>
                  <ion-icon slot="end" name="sunny"></ion-icon>
                </ion-range>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
