<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lok Liste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-list>
            <ion-item *ngFor="let item of this.myAPI.LokList">
              <ion-label>
                <h2>{{item.name}}</h2>
              </ion-label>
              <ion-label>
                <h2>{{item.id}}</h2>
              </ion-label>
              <ion-range min="0" max="100" step="5" (ionChange)="onSliderChanged($event, item)" value="{{item.speed}}">
                <ion-icon size="small" slot="start" name="sunny"></ion-icon>
                <ion-icon slot="end" name="sunny"></ion-icon>
              </ion-range>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>